xml/car.dtd

<!ELEMENT car (collection,couleurHistorique,caracteristiques)>
<!ATTLIST car 
    nom CDATA #REQUIRED
    modele CDATA #REQUIRED
    type (Berline | Coupé | Cabriolet | Break | SUV | Crossover | Monospace | Pick-up | luxe | Supercar | Electrique | Hybride) #REQUIRED
    id ID #REQUIRED>

<!ELEMENT collection (prix,estimation)>

<!ELEMENT prix (#PCDATA)>

<!ELEMENT estimation (#PCDATA)>

<!ELEMENT couleurHistorique (histoire)>
<!ATTLIST couleurHistorique
    couleur CDATA #REQUIRED>

<!ELEMENT histoire (#PCDATA)>

<!ELEMENT caracteristiques (moteur,performances,autres,transmission,chassis,dimensions)>

<!ELEMENT moteur (type1,cylindree,puissance,couple)>
<!ATTLIST moteur
    energie (diesel | essence | electrique | ethanol | hydrogen) #REQUIRED
    nom CDATA #REQUIRED>

<!ELEMENT type1 (#PCDATA)>

<!ELEMENT cylindree (#PCDATA)>

<!ELEMENT puissance (#PCDATA)>

<!ELEMENT couple (#PCDATA)>

<!ELEMENT performances (acceleration+,vmax,consommation,emissions)>

<!ELEMENT acceleration (#PCDATA)>

<!ELEMENT vmax (#PCDATA)>

<!ELEMENT consommation (#PCDATA)>

<!ELEMENT emissions (#PCDATA)>

<!ELEMENT autres (quantiteProduite,dateSortie,dateFinDeProduction)>

<!ELEMENT quantiteProduite (#PCDATA)>

<!ELEMENT dateSortie (#PCDATA)>

<!ELEMENT dateFinDeProduction (#PCDATA)>

<!ELEMENT transmission (type2,rapport)>
<!ATTLIST transmission
    gearbox (manuelle | automatique | semi-automatique)>

<!ELEMENT type2 (#PCDATA)>

<!ELEMENT rapport (#PCDATA)>

<!ELEMENT chassis (suspension,freins)>

<!ELEMENT suspension (#PCDATA)>

<!ELEMENT freins (#PCDATA)>

<!ELEMENT dimensions (longueur,largeur,hauteur,reservoir,poidsVide)>

<!ELEMENT longueur (#PCDATA)>

<!ELEMENT largeur (#PCDATA)>

<!ELEMENT hauteur (#PCDATA)>

<!ELEMENT reservoir (#PCDATA)>

<!ELEMENT poidsVide (#PCDATA)>


